.main-footers
    .container
        //
           Category footer 
            .cat-ftr-cont.float-width
              .cat-ftr-cont-sngl.lefty.cat-brd-1
                h3 News
                ul
                  li
                    a(href='#') Nation
                  li
                    a(href='#') World
                  li
                    a(href='#') Politics
                  li
                    a(href='#') Funny
                  li
                    a(href='#') Weather
              .cat-ftr-cont-sngl.lefty.cat-brd-2
                h3 Music
                ul
                  li
                    a(href='#') Hip Hop / Rap
                  li
                    a(href='#') Latino
                  li
                    a(href='#') Electronic and Disco
                  li
                    a(href='#') R&B
                  li
                    a(href='#') Pop
                  li
                    a(href='#') Rock & Roll
                  li
                    a(href='#') Ragga
                  li
                    a(href='#') More...
              .cat-ftr-cont-sngl.lefty.cat-brd-3
                h3 TV & Movies
                ul
                  li
                    a(href='#') In Theaters
                  li
                    a(href='#') Showtimes & Tickets
                  li
                    a(href='#') Latest Trailers
                  li
                    a(href='#') Release Calendar
                  li
                    a(href='#') TV Home
                  li
                    a(href='#') On Tonight
                  li
                    a(href='#') DVD & Blu-Ray
              .cat-ftr-cont-sngl.lefty.cat-brd-4
                h3 Tech
                ul
                  li
                    a(href='#') Mobiles
                  li
                    a(href='#') Desktops
                  li
                    a(href='#') Outside Electronic
                  li
                    a(href='#') Sound Devices
                  li
                    a(href='#') AGD & RTV
              .cat-ftr-cont-sngl.lefty.cat-brd-5
                h3 Games
                ul
                  li
                    a(href='#') PC
                  li
                    a(href='#') PlayStation 4
                  li
                    a(href='#') Xbox One
                  li
                    a(href='#') Mobiles
                  li
                    a(href='#') Portable Consoles
                  li
                    a(href='#') Nintendo
          //
             Info footer 
        .info-ftr.float-width
          .mag-info.lefty
            .logo.col-lg-4
              a(href='/') Blurrent
            //
              p
                | Suspendisse dapibus blandit auctor. Aenean nisl felis, fermentum in ante sit amet, lobortis hendrerit nunc. Curabitur pharetra in velit at ornare...
                a(href='#') READ ABOUT US
              .scl-ftr.float-width
                h3 STAY IN TOUCH!
                ul
                  li
                    a.trans1.fb-ftr(href='#', data-toggle='tooltip', data-placement='bottom', title='Facebook')
                  li
                    a.trans1.tw-ftr(href='#', data-toggle='tooltip', data-placement='bottom', title='Twitter')
                  li
                    a.trans1.pin-ftr(href='#', data-toggle='tooltip', data-placement='bottom', title='Pinterest')
                  li
                    a.trans1.yt-ftr(href='#', data-toggle='tooltip', data-placement='bottom', title='YouTube')
                  li
                    a.trans1.ins-ftr(href='#', data-toggle='tooltip', data-placement='bottom', title='Instagram')
                  li
                    a.trans1.vm-ftr(href='#', data-toggle='tooltip', data-placement='bottom', title='Vimeo')
              .post-ftr.lefty
                h3 LATEST POSTS
                .pst-ftr-sngl.float-width
                  a.lefty.pst-ftr-img(href='#')
                    img(alt='', src='/img/samples/y1.jpg')
                  h5 Pizza will be delivered by Drons
                  h6.lefty
                    span
                      i.fa.fa-clock-o
                      | 20 Jan 2014
                    span
                      i.fa.fa-comment-o
                      | 21 comments
                  a.lefty.stars(href='#')
                    img(alt='', src='/img/4-stars.png')
                .pst-ftr-sngl.float-width
                  a.lefty.pst-ftr-img(href='#')
                    img(alt='', src='/img/samples/y2.jpg')
                  h5 YouTube as a real Television?
                  h6.lefty
                    span
                      i.fa.fa-clock-o
                      | 20 Jan 2014
                    span
                      i.fa.fa-comment-o
                      | 21 comments
                  a.lefty.stars(href='#')
                    img(alt='', src='/img/4-stars.png')
                .pst-ftr-sngl.float-width
                  a.lefty.pst-ftr-img(href='#')
                    img(alt='', src='/img/samples/y3.jpg')
                  h5 Flying Mouse to your PC
                  h6.lefty
                    span
                      i.fa.fa-clock-o
                      | 20 Jan 2014
                    span
                      i.fa.fa-comment-o
                      | 21 comments
                  a.lefty.stars(href='#')
                    img(alt='', src='/img/4-stars.png')
              .twts-ftr.lefty
                h3 LATEST TWEETS
                ul
                  li
                    p
                      span.tw-uname @EiadTweets
                      | Vetstibulum laoreet is are go mauris ac
                      span.hsh #vulputate
                      | pellentes , justorle atus pulvinar augue.
                  li
                    p
                      span.tw-uname @EiadTweets
                      | Vetstibulum laoreet is are go mauris ac
                      span.hsh #vulputate
                      | pellentes , justorle atus pulvinar augue.
                  li
                    p
                      span.tw-uname @EiadTweets
                      | Vetstibulum laoreet is are go mauris ac
                      span.hsh #vulputate
                      | pellentes , justorle atus pulvinar augue.
                h6
                  a.all-twts.righty.trans1(href='#')
                    i.fa.fa-twitter
                    | Read all tweets
    //
       Copy right footer 
    .copy-rt-ftr
      .container
        a.righty(href='http://twitter.com/codevinsky') Developed by: @codevinsky