.container
    .float-width.ticker
        h3.cat-label1 BREAKING NEWS
        ul.newsticker
          li
            h4
              | Aliquam id dolor congue, volutpat sapien ac, iaculis purus. Vivamus hendrerit pretium rutrum.
          li
            h4
              | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.
          li
            h4
              | Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure.
        .ticker-ctrls
          a#tkr-prev 
          a#tkr-nxt 
