body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
img {
  min-width: 400px;
  max-height: 600px;
}

.img-placeholder {
  background-color: #cccccc;
}